extends layout

block content
  h1 Find your train!
  p The Road to Success is in your head.And you are a Genius.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong The Road to Success is in your head.And you are a Genius
